@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

:root {
  --color1: #423a6f;
  --color2: #352f5b;
  --color3: orange;
  --color4: #5cdb94;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color2);
  color:#fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

.container {
  max-width: 360px;
}

/* #region Players Design  */
.players {
  display: none;
}

.player-div {
  margin: 20px 0;  
  text-align: left;
}

.player-div label {
  font-size: 20px;
}
.player-div .player-symbol {
  color: var(--color4);
}
.player-div .player-name {
  color: var(--color3);
  text-transform: uppercase;
}
/* #endregion End Players Design  */

/* #region Board design */
.board {
  max-width: 360px;
  max-height: 360px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
}

.board input {
  background: var(--color1);
  cursor: pointer;
  border: 2px solid var(--color2);
  color: var(--color4);
  font-size: 50px;
  outline: none;
  width: 120px;
  height: 120px;
}

.board input:hover {
  background: var(--color2);
}

.board label {
  font-size: 50px;
  /* display: none; */
}
/* #endregion End Board design */

/*#region Modal styling */
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  background-color: var(--color2);
  width: 600px;
  max-width: 100%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  animation: modalopen;
  animation-duration: 2s;
}

.modal-header {
  background-color: var(--color1);
  padding: 15px;
}

.modal-content {
  padding: 20px;
}

.modal-content p {
  text-align: center;
}

.modal-form div {
  margin: 25px 0;
  border: 1px solid #fff;
  padding: 20px;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  text-align: left;
  color: var(--color3);
  text-transform: uppercase;
}

.modal-form .winner-div {
  border: none;
}
.modal-form .winner-div label {
  text-align: center;
  font-size: 1.5rem; 
}
.winner {
  color: var(--color4);
}

.modal-container-winner label {
  /* display: block; */
  margin-bottom: 5px;
  font-weight: 600;
  text-align: left;
  color: var(--color3);
  text-transform: uppercase;
}

.modal-form input {
  color: var(--color4);
  font-size: 20px;
  width: 100%;
  padding: 8px;
  outline: none;
  background: none;
  border: 0;
  border-bottom: 1px solid var(--color3);
  text-transform: uppercase;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.submit-btn {
  background:  var(--color1);
  color: #fff;
  border: 1px solid var(--color3);
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  transition: .3s ease all;
}

.submit-btn:hover {
  box-shadow: 0 0 10px 2px rgba(173, 255, 47, 0.2);
  color: greenyellow;
  border: 1px solid  var(--color1);
}
/*#endregion End Modal styling */

/* Play button to start the game  */
.play-btn {
  border: none;
  margin: 10px auto 30px;
  /* width: 100%; */
  display: none;
}
.play-btn:hover {
  border: none;
}
/* End Play button to start the game  */

/* show/hide contents */
.modal-container-player.show,
.modal-container-winner.show,
.play-btn.show,
.players.show {
  display: block;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


