@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

:root {
  --primary-color: #423a6f;
  --secondary-color: #352f5b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--secondary-color);
  color:#fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

/* Board design */
.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  /* margin: 0; */
}

.board input {
  background: var(--primary-color);
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  color: #fff;
  font-size: 50px;
  outline: none;
  width: 150px;
  height: 150px;
}

.board .x-value {
  color: skyblue;
}
.board .o-value {
  color: yellowgreen;
}

.board label {
  font-size: 50px;
  /* display: none; */
}
/* End Board design */


@media only screen and (max-width: 600px) {

}


